<!-- styles for links doesnt work yet...--> 
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}
a:active {text-decoration: underline;}


<!--styles for the topbar -->
.topbar {
    color:red
}

.topbar a {
color: black
}

header {
	background: #262626;
	height: auto;
	width: 100%;
	margin: 0px;
	font-family: Calibri;
	padding: 30px;
	padding-top: 50px;
	padding-bottom: 50px;
	box-sizing: border-box;
}

a.class1:link,a.class1:visited,a.class1:hover,a.class1:active {
	color: white;
	text-decoration: none;
	padding-left: 10px;
	padding: 10px;
}

a.class2:link,a.class2:visited,a.class2:hover,a.class2:active {
	color: black;
	text-decoration: none;
}

.active{
	background-color: white;
}

body {
	background: #262626;
}

.cropped {
	width: 100%; 
	height: 900px; 
	object-fit: cover;
	object-position: 25% 25%; 
	}

<!--styles for the categories -->
nav{
    background-color:
}

ul{
    list-style-type: none;
}

li{}

a{}

/* Slideshow container */
.slideshow-container {
	max-width: 100%;
	position: relative;
	margin: auto;
}

/* Hide the images by default */
.slides {
	display: none;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
  
  /* On hover, add a background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
  
.dot {
	cursor: pointer;
	height: 10px;
	width: 10px;
	margin: 0 5px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}
  
@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

  