/*styles for links doesnt work yet...*/
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}
a:active {text-decoration: underline;}


/*styles for the top bar*/
.topbar {
    color:red
}

.topbar a {
color: black
}

header {
	background: #262626;
	height: auto;
	width: 100%;
	margin: 0px;
	font-family: Calibri;
	padding: 30px;
	padding-top: 50px;
	padding-bottom: 50px;
	box-sizing: border-box;
}

/*Header Links*/
a.class1:link,a.class1:visited,a.class1:hover,a.class1:active {
	color: white;
	text-decoration: none;
	padding-left: 10px;
	padding: 10px;
	font-size: 20px;
	font-weight: 100;
	position: relative;
	top: -30px;
}

/*Navigation Bar Links*/
a.class2:link,a.class2:visited,a.class2:hover,a.class2:active {
	color: black;
	text-decoration: none;
	padding-left: 10px;
	padding: 10px;
}

.navbar {
	background-color: rgba(255, 255, 255, 0.5);
	width: 100%;
	height: 60px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 0px;
}

.navbar a {
	float: left;
	color: black;
	text-align: centre;
	padding: 20px 16px;
	padding-right: 40px;
	padding-left: 40px;
	text-decoration: none;
	font-size: 20px;
}

.navbar a:hover {
	background-color: white;
	color: #5e5e5e;
}


.active{
	background-color: white;
	
}


body {
	background: #262626;
}

/*Cropping Homepage Images*/
.cropped {
	width: 100%; 
	height: 800px; 
	object-fit: cover;
	object-position: 25% 25%; 
}

.centred {
	float: none;
	position: absolute;
	top: 70px;
	left: 50%;
	transform: translate(-50%, -50%);
}


/* Slideshow container */
.slideshow-container {
	min-width: 100%;
	max-width: 100%;
	position: relative;
	margin: auto;
}

/* Hide the images by default */
.slides {
	display: none;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding-right: 16px;
	padding-left: 16px;
	padding-top: 50px;
	padding-bottom: 50px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
  
  /* On hover, add a background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
  
.dot {
	cursor: pointer;
	height: 10px;
	width: 10px;
	margin: 0 5px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}
  
@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

  
button {
    background-color: red;
}

/*layout for cart page*/
.dining-table{
     column-count: 3;
     column-gap: 30px;
     column-width: 300px;
}

